.homeButton {
  height: 20px;
  color: black;
  border-radius: 5px;
  background-color: #3E5C76;
  border: none;
}

.homeButton:hover {
  background: green;
  letter-spacing: 0.5px;
  -webkit-box-shadow: black;
  -moz-box-shadow: black;
  box-shadow: black;
  transition: all 0.3s ease 0s;
}

.userGuide {
  margin-bottom: 30px;
}