.homeButton {
  height: 20px;
  color: black;
  border-radius: 5px;
  background-color: #3E5C76;
  border: none;
}

.homeButton:hover {
  text-decoration: underline;
}

.userGuide {
  margin-bottom: 30px;
}