.row {
  background-size: cover;
  width: 420px;
  height: 450px;
  padding: 10px;
  margin: auto;
  border-top: 7px solid #002979;
}

.select {
  padding: 20px 0;
  float: left;
}

.selectBox {
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

.select label {
  padding-top: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

label {
  text-align: left;
}

.form-p {
  padding: 5px;
  margin-top: 5px;
  letter-spacing: 3px;
  text-align: center;
}

.eventCreated {
  margin-top: 110px;
  color: green;
  font-weight: bold;
}

.form-p a {
  text-decoration: none;
}

.checkboxDiv {
  padding-top: 15px;
  text-align: center;
}