.footer {
  background-color: #3E5C76;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
  padding: 0;
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  margin: 0;
}