input {
    display: block;
    width: 85%;
    border: none;
    border-bottom: solid 1px #fff;
    padding: 1em;
    font-size: 1em;
    color: #fff;
    margin: 35px 0 0;
    margin-left: 8px;
    outline: none;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background-color: transparent;   
  }

  ::-webkit-input-placeholder {
    color: #fff;
    font-family: 'Dosis', sans-serif;
  }
  