.clock p {
  margin-left: 30px;
}

.row {
  background-size: cover;
  width: 420px;
  height: 450px;
  padding: 10px;
  margin: auto;
  border-top: 7px solid #002979;
}

.intake,
.programme {
  margin-left: 30px;
  padding: 20px;
}

.intake.label {
  margin-left: 1em;
  text-align: left;
}

label {
  text-align: left;
}

.form-p {
  padding: 5px;
  margin-top: 5px;
  letter-spacing: 3px;
  text-align: center;
}
.form-p a {
  text-decoration: none;
}
