h1 {
    font-family: 'Dosis', "merienda-one";
    text-align: center;
    font-size: 3em;
    font-weight: 100;
  }
  
.row { 
    background-size: cover;
    width: 420px;
    height: 450px;
    padding: 10px;
    margin: auto;
    border-top: 7px solid #e42148;
  }
  
  .form-p {
    padding: 5px;
    margin-top: 5px;
    font-size: 1.1em;
    color: #fff;
    letter-spacing: 3px;
    text-align: center;
  }
  
  .form-p a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
  }
  
  .form-p a:hover {
    color: #1abc9c;
  }