h1 {
  text-align: center;
  font-weight: 100;
}

.row {
  background-size: cover;
  width: 420px;
  height: 450px;
  padding: 10px;
  margin: auto;
  border-top: 7px solid #3e5c76;
}

.form-p {
  padding: 5px;
  margin-top: 5px;
  letter-spacing: 3px;
  text-align: center;
}

.form-p a {
  text-decoration: none;
}
