input.submit {
  width: 100%;
  border: 0.1em solid black;
  border-radius: 0.5em;
  margin: 3em 0;
  text-align: center;
}

input.submit:hover {
  cursor: grab;
  text-decoration: underline;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}
