.input {
    display: block;
    margin-bottom: 20px;
    border: 2px solid grey;
}

label {
    display: inline-block;
    color: white;
}

label input {
    margin-left: 20px;
}

input {
    border: 2px solid greenyellow;
}