.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}



.App-link {
  color: #09d3ac;
}

body {
  background-color: rgb(0, 74, 143);
  width: 500px;
  margin: auto;
  padding-top: 100px;
}

