/* @font-face {
  font-family: "NBSMedium";
  src: url(https://www.findmyfont.com/fonts/font-preview?fset=JAW-Fonts&ffam=&fid=fe35f8d593c45633c6e7a41585a2b7c1&width=800&fsize=48&text=The%20quick%20brown%20fox%20jumps%20over%20the%20lazy%20dog&wrap=2);
} */

html, body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: black;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #f9f8f8;
  text-align: center;
  color: black;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.header {
  background-color: #002979;
}

ul {
  height: 50px;
  list-style-type: none;
  padding-right: 50px;
  overflow: hidden;
  float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
  color: #002979;
}

.clock {
  width: 60px;
}

.header p {
  color: white;
}