html, body {
  height: 100%;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
  /* TASK - import NBS font */
  -webkit-font-smoothing: antialiased;
  /* Smooth the font on the level of the pixel, as opposed to the subpixel. 
  Switching from subpixel rendering to antialiasing for light text on dark backgrounds makes it look lighter. */
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #F9F8F8;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Font for code? */

/* below styles the header bar, should this be a separate component? */

.header {
  background-color: #3E5C76;
}

ul {
  height: 50px;
  list-style-type: none;
  padding-right: 50px;
  overflow: hidden;
  float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: #F9F8F8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #F9F8F8;
}